[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ruff = "*"

[packages]
"discord.py" = {extras = ["speed", "voice"], version = "*"}
arrow = "*"
dateparser = "*"
uvloop = {version = "*", sys_platform = "!= 'win32'"}
colorama = {version = "*", sys_platform = "== 'win32'"}
tinydb = "*"
thefuzz = {extras = ["speedup"], version = "*"}
betterjsonstorage = "*"
pytz = "*"
steam = {extras = ["client"], version = "*"}
httpx = {extras = ["http2"], version = "*"}
async-lru = "*"
dota2 = "*"
asyncio-gevent = "*"
httpx-auth = "*"
aiohttp = "*"
orjson = "*"
requests = "*"
numpy = "*"
gevent = "*"
aiodns = "*"
yappi = "*"
black = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.11"
