[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
"discord.py" = {extras = ["speed"], version = "*"}
arrow = "*"
dateparser = "*"
uvloop = {version = "*", sys_platform = "!= 'win32'"}
colorama = {version = "*", sys_platform = "== 'win32'"}
tinydb = "*"
thefuzz = {extras = ["speedup"], version = "*"}
betterjsonstorage = "*"
pytz = "*"
steam = "*"
httpx = {extras = ["http2"], version = "*"}
async-lru = "*"

[requires]
python_version = "3.10"
